@charset "UTF-8";
@font-face {
    font-family: 'font11' ;
    src: url('PassionOne-Bold.ttf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('background002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 170px;
    text-align: center;
}

h1 {
    position: relative;
    font-family: 'font11';
    margin-top: 50px;
    font-size: 50px;
}

#artigo1 {
    background-color: white;
    width: 100%;
    height: 530px;
}

#p1 {
    position: absolute;
    font-weight: bold;
    font-style: italic;
    line-height: 1.99em;
    font-size: 16px;
    left: 50%;
    top: 350px;
    transform: translate(-50%,-50%);
    min-width: 280px;
    max-width: 400px;
}

#artigo2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    left: 50%;
    top: 760px;
    transform: translate(-50%,-50%);
    padding: 8px;
    min-width: 280px;
    max-width: 400px;
}

#p2 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    line-height: 1.99em;
}

#artigo3 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 500px;
    margin-top: 450px;
}

#p3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 280px;
    max-width: 400px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.99em;
    font-size: 17px;
}

#artigo4 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    left: 50%;
    top: 1600px;
    transform: translate(-50%,-50%);
    padding: 8px;
    min-width: 280px;
    max-width: 400px;
}

#p4 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    line-height: 1.99em;
}

#p5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 280px;
    max-width: 400px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.99em;
    font-size: 17px;
}

#artigo5 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 350px;
    margin-top: 1200px;
}

#rodape {
    position: absolute;
    color: white;
    background-color: black;
    width: 100%;
    height: 25px;
    margin-top: 1550px;
    text-align: center;
    padding: 5px;
}



