@charset "UTF-8";
@font-face {
    font-family: 'font11' ;
    src: url('PressStart2P-Regular.ttf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'font11';
    text-align: center;
    font-size: 27px;
    margin-top: 20px;
}

div {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
 img {
    margin-left: 7px;
 }

 #animationD {
    transform: translateX(0px);
    animation: css 5s ease-out infinite;
    z-index: -1;
    position: relative;
 }

 @keyframes css {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-160px);
    }
    100% {
        transform: translateX(0px);
    }
 }

 #animationE {
    transform: translateX(0px);
    animation: html 5s ease-out infinite;
    z-index: -1;
    position: relative;
 }

 @keyframes html {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(160px);
    }
    100% {
        transform: translateX(0px);
    }
 }

 p {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 200px;
    color: white;
    min-width: 400px;
    line-height: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


 
