@charset "UTF-8";
@font-face {
    font-family: 'font11' ;
    src: url('Saira-VariableFont_wdth,wght.ttf') format('TrueType');
}

@font-face {
    font-family: 'font10' ;
    src: url('Patrima-Outline.otf') format('OpenType');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: font11, Helvetica, sans-serif ;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.bar {
    display: block;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    margin: 5px 20px auto;
}

/*TELA PEQUENA*/

@media screen and (max-width: 590px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: rgb(5, 5, 5);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        padding-bottom: 10px;
    }

    .nav-item {
        margin: 16px 0px;
    }

    nav a {
        position: relative;
    }

    nav a::after {
        content: " ";
        width: 0%;
        height: 1.2px;
        background-color: #a74f03;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #241101, #a74f03);
    }

    nav a:hover::after {
        width: 100%;
        transition: 0.4s;

    }
    
    li {
        list-style: none;
        padding: 4px 0px;
        font-size: 19px;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media screen and (max-width: 768px) {

    main {
        width: 100%;
        height: 510px;
        background-color: rgb(12, 12, 12);
    }
    
    section {
        width: 100%;
        height: 500px;
        background-color: rgb(7, 7, 7);
    }

    h1 {
        font-size: 41px;
        width: 320px;
       position: relative;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #p1{
        font-size: 27px;
        color: #a74f03;
        width: 250px;
        text-shadow: 0px 0px 5px #a74f03;
    }

    #divpisca {
        width: 300px;
        position: relative;
        top: 46%;
        left: 52%;
        transform: translate(-50%, -50%);
    }

    p {
        display: inline-block;
    }
    
    header {
        width: 100%;
        height: 65px;
        background-color: rgba(5, 5, 5);
    }

    #insta { 
        background-color: rgb(32, 32, 32);
        padding: 7px;
        border-radius: 5px;
        position: relative;
        width: 37px;
        height: 37px;
        left: 53%;
        top: 46%;
        transform: translate(-50%,-50%);
    }


    #lin {
        background-color: rgb(32, 32, 32);
        padding: 0px 4.5px;
        height: 36px;
        border-radius: 5px;
        position: relative;
        font-size: 31px;
        left: 30%;
        top: 41%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        color: white;
        font-family: font10;
    }

    #pisca {
        font-size: 30px;
        color: #a74f03;
        font-weight: 500;
        animation: piscaPisca 0.7s infinite;
        
    }

    @keyframes piscaPisca {
        0% {
            color: #a74f03;
            text-shadow: 0px 0px 5px #a74f03;
        }
        50% {
            color: rgb(12, 12, 12);
            text-shadow: 0px 0px 5px rgb(12, 12, 12);
        }
        100% {
            color: #a74f03;
            text-shadow: 0px 0px 5px #a74f03;
        }
    }
}

/*TELA GRANDE*/

/*

header {
    width: 100%;
    height: 63px;
    background-color: black;
}

#insta:hover {
    background-color: rgba(255, 68, 0, 0.452);
    transition: 0.7s;
    padding: 7px;
    border-radius: 6px;
}

#insta { 
    background-color: rgb(32, 32, 32);
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28%;
    top: 265px;
    transform: translate(-50%,-50%);
}

#lin:hover {
    color: rgba(255, 68, 0, 0.452);
    transition: 0.7s;
}

#lin {
    background-color: rgb(32, 32, 32);
    padding: 2.3px 7px;
    border-radius: 5px;
    position: absolute;
    font-size: 26px;
    left: 37%;
    top: 265px;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: white;
}

input[type=button]#bt1:hover {
    color: rgba(255, 68, 0, 0.514);
    transition: 0.7s;
    box-shadow: 0px 0px 20px 1px;
    cursor: pointer;
    font-weight: bold;
}

input[type=button]#bt2:hover {
    color: rgba(255, 68, 0, 0.514);
    transition: 0.7s;
    box-shadow: 0px 0px 20px 1px;
    cursor: pointer;
    font-weight: bold;
}

input[type=button]#bt3:hover {
    color: rgba(255, 68, 0, 0.514);
    transition: 0.7s;
    box-shadow: 0px 0px 20px 1px;
    cursor: pointer;
    font-weight: bold;
}

input[type=button]#bt1 {
    width: 440px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 340px;
    transform: translate(-50%,-50%);
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid rgba(255, 68, 0, 0.836);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

input[type=button]#bt2 {
    width: 440px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 413px;
    transform: translate(-50%,-50%);
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid rgba(255, 68, 0, 0.836);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

input[type=button]#bt3 {
    width: 440px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 485px;
    transform: translate(-50%,-50%);
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid rgba(255, 68, 0, 0.836);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

#react {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 57.6%;
    top: 178px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transform: translateY(0px);
    animation: react 7s ease-in-out infinite;
 }

 @keyframes react {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
 }

 
.pt {
    color: rgba(255, 68, 0, 0);
    position: absolute;
    width: 17px;
    height: 17px;
    left: 68%;
    top: 214px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 80px 37px rgba(255, 68, 0, 0.514);
    border-radius: 50%;
    transform: translateY(0px);
    animation: pt 7s ease-in-out infinite;
}

 @keyframes pt {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
 }

#ds1 {
    width: 220px;
    font-size: 0px;
    box-shadow: 0px 0px 25px 3px rgba(255, 68, 0, 0.514);
    margin-top: 22px;
}

*/



