@charset "UTF-8";

@font-face {
  font-family: 'font11';
  src: url('./fonts/Saira-VariableFont_wdth,wght.ttf') format('TrueType');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/*TELA PEQUENA*/

@media (max-width: 600px) {

  header {
    width: 100vw;
    height: 40vh;
    background-image: radial-gradient(50% 50%, #201740, #42208C);
    border-radius: 0px 0px 70px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-family: 'font11';
  }

  #img {
    width: 220px;
    height: 220px;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main img {
    width: 22px;
    height: 22px;
    transition: .3s;

    &:hover {
      width: 26px;
      height: 26px;
    }
  }

  main div {
    background-color: #42208C;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
  }

  #div1 {
    &:hover {
      width: 52px;
      height: 52px;
    }
  }

  #div2 {
    &:hover {
      width: 52px;
      height: 52px;
    }
  }

  #div3 {
    &:hover {
      width: 52px;
      height: 52px;
    }
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }

  section h4 {
    margin-top: 40px;
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: solid 2px white;
    overflow: hidden;

    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;

      background-color: #42208C;

      z-index: -1;

      transition: .7s ease;
      border-radius: 50px;

    }
  }

  .btn {
    &:before {
      width: 0;
      height: 100%;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

}

/*TELA GRANDE*/

@media (min-width: 601px) {

  header {
    width: 49.3vw;
    height: 100vh;
    background-image: radial-gradient(50% 35%, #191233, #42208C);
    border-radius: 0px 70px 70px 0px;
    padding-bottom: 20px;
    font-family: 'font11';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  header h2 {
    font-size: 33px;
  }

  header h3 {
    font-size: 25px;
  }

  #img {
    width: 250px;
    height: 250px;
  }

  main img {
    width: 22px;
    height: 22px;
    transition: .3s;

    &:hover {
      width: 26px;
      height: 26px;
    }
  }

  main div {
    background-color: #42208C;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border: solid 1px black;
  }

  #div1 {
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    &:hover {
      width: 52px;
      height: 52px;
    }
  }

  #div2 {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    &:hover {
      width: 52px;
      height: 52px;
    }
  }

  #div3 {
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    &:hover {
      width: 52px;
      height: 52px;
    }
  }

  section {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 60%;
  }

  section h4 {
    margin-top: 40px;
    width: 35vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: solid 2px white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;

      background-color: #42208C;

      z-index: -1;

      transition: .7s ease;
      border-radius: 50px;

    }
  }

  .btn {
    &:before {
      width: 0;
      height: 100%;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }


}